<footer class="absolute bottom-0 w-full text-center text-sm bg-white shadow">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4">
    <div class="text-center mt-2 text-gray-500 text-sm">
      © 2024 ServiceApp. All rights reserved.
    </div>
  </div>
</footer>
